.certificate-link {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
     line-height: 28px;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.text-color{
    color: green;
}
.about{
    text-align: none;
}
.text-color{
    background-color: aqua;
}